<!-- CAST --->
<div id="cast" class="cast section">
	<div class="thumb-container">
		<div class="thumb-list">
			<script id="castthumbs" type="text/x-handlebars-template">
				{{#cast}}
					<a class="t-cast" href="javascript:void(0);" style="background-image:url(images/cast/{{safename}}_t.jpg);" n="{{@index}}"></a>
				{{/cast}}
			</script>
		</div>
	</div>

	<div class="cast-arrows">
		<a class="cast-next" href="javascript:void(0);"></a>
		<a class="cast-prev" href="javascript:void(0);"></a>
	</div>

	<div class="character-content">
		<script id="castdetails" type="text/x-handlebars-template">
			{{#cast}}
				<!-- {{safename}} -->
				<div class="character" id="{{safename}}">
					<div class="character-image" style="background-image:url(images/cast/{{safename}}_l.jpg);"></div>
				
					<div class="character-copy">
						<div class="character-icon" style="background-image: url(images/cast/{{icon}});"></div>
						<div class="character-quote">&#8220;{{quote}}&#8221;</div>
						<div class="character-name">{{name}}</div>
						<div class="actor-name">{{actor}}</div>
						<div class="character-desc">{{{desc}}}</div>
						
						
					</div>
				</div>
			{{/cast}}
		</script>
	</div>
</div>