<!-- DOWNLOADS --->
<div id="downloads" class="downloads section">
	<div class="downloads-content">
		<div class="downloads-marquee"></div><!-- PDF's -->

		<div class="downloads">
			<h3>DOWNLOAD PDF FILES</h3>

			<ul class="downloads-list">
				<script id="downloadpdf" type="text/x-handlebars-template">
					{{#pdfs}}
						<li>
							<a href="{{path}}" onclick="ga('send', 'event', 'PDF', 'click', '{{name}}');" target="_blank">
								<div class="download-name">{{name}}</div>
								<div class="clickto">Click Here to Download</div>
							</a>
						</li>
					{{/pdfs}}
				</script>
			</ul>
		</div><br class="clear">
		<!-- MEDIA ROOM -->

		<div class="mediaroom">
			<h3>HIGH RESOLUTION IMAGES</h3>

			<div class="mediaroom-list">
				<a href="http://starz.mediaroom.com/index.php?s=56" onclick="ga('send', 'event', 'MediaRoom', 'click', 'Visit');" target="_blank"><span>Visit STARZ Media Room to download high resolution images and videos</span></a>
			</div>
		</div><!-- PRESS CONTACTS -->

		<div class="press-contacts">
			<h3>PRESS CONTACTS</h3>

			<ul class="contacts">
				<script id="downloadcontact" type="text/x-handlebars-template">
					{{#contacts}}
						<li>
							<a href="mailto:{{email}}?subject=Blunt%20Talk%20Presskit" onclick="ga('send', 'event', 'Email', 'click', 'Alana');">
								<div class="contact-name">{{name}}</div>
								<div class="contact-company">{{company}}</div>
								<div class="contact-phone">{{phone}}</div>
								<div class="contact-email">{{email}}</div>
							</a>
						</li>
					{{/contacts}}
				</script>
			</ul>
		</div><br class="clear">
		<br class="clear">
	</div>
</div>