<!-- FOOTER --->
<div class="footer">
	<div class="social">
		<a class="facebook" href="https://www.facebook.com/BluntTalk.Starz" target="_blank" onClick="ga('send', 'event', 'Social', 'click', 'Facebook');"></a>
		<a class="twitter" href="https://twitter.com/BluntTalk_starz" target="_blank" onClick="ga('send', 'event', 'Social', 'click', 'Twitter');"></a>
		<!--<a class="instagram" href="http://instagram.com/outlander_starz" target="_blank" onClick="ga('send', 'event', 'Social', 'click', 'Instagram');"></a>-->
	</div>
	<div class="copyright">STARZ and related channels and service marks are the property of Starz Entertainment, LLC. Blunt Talk &copy; MRC II Distribution Company, LP. All rights reserved.</div>
</div>FOOTER