<!-- GALLERY --->
<div id="gallery" class="gallery section">
	<div class="gallery-container">
		
		<!-- Gallery View --->
		<div class="gallery-view">
			<a class="g-close" href="javascript:void(0);">CLICK TO CLOSE IMAGE</a>
			<div class="image-view">
				<img />
			</div>
			<div class="image-desc"></div>
			<div class="g-arrows">
				<a class="g-next" href="javascript:void(0);"></a>
				<a class="g-prev" href="javascript:void(0);"></a>
			</div>
		</div>
		
		<!-- Gallery List --->
		<div class="gallery-list">
			<script id="galleryphotos" type="text/x-handlebars-template">
				{{#photos}}
					<a class="gallery-item" href="#" style="background-image:url( images/gallery/t/{{path}} );" caption="{{caption}}" n="{{@index}}" path="images/gallery/f/{{path}}"></a>
				{{/photos}}
				<div class="clear"></div>
			</script>
		</div>
		
		
		<!-- View All --->
		<p class="centerText caps gallerybottom">
			<a href="http://starz.mediaroom.com/index.php" target= "_blank">Visit Starz Media Room to Download High Resolution Images</a>
		</p>
	</div>
</div>