<!-- HEADER --->
<div class="header">
	<div class="header-container">
		<!-- LOGO --->
		<a class="logo" path="keyart" href="javascript:void(0);"></a>
					
		<!-- MENU --->
		<div class="menu">
			<script id="menuitem" type="text/x-handlebars-template">
				{{#links}}
					{{#external}}
						<a class="mlink mhighlight" href="{{path}}" target="_blank">{{name}}</a>
					{{/external}}
					{{^external}}
						<a class="mlink plink l{{path}}" href="javascript:void(0);" path="{{path}}" bg="{{background}}">{{name}}</a>
					{{/external}}
				{{/links}}
			</script>
		</div>
					
		<!--HEADER LOGO-->
		<a class="headerlogo" href="http://www.starz.com/originals/blunttalk" target="_blank"></a>
					
		<!-- MENU LINK --->
		<a class="mobile-link" href="javascript:void(0);">
			<span></span>
			<span></span>
			<span></span>
		</a>
	</div>
</div>
			
<!-- MOBILE MENU --->
<div class="mobile-menu">
	<ul class="menu-list">
		<script id="mobilemenuitem" type="text/x-handlebars-template">
			{{#links}}
				{{#external}}
					<a class="mmlink mhighlight" href="{{path}}" target="_blank">{{name}}</a>
				{{/external}}
				{{^external}}
					<a class="mmlink mplink" href="javascript:void(0);" path="{{path}}" img="images/bg/{{background}}">{{name}}</a>
				{{/external}}
			{{/links}}
		</script>
	</ul>
</div>