<!-- PRODUCTION --->
<div id="production" class="production section">
	<div class="prod-container">
		<div class="prod-list">
			<script id="prodlist" type="text/x-handlebars-template">
				{{#prod}}
					<a class="t-prod" href="javascript:void(0);" n="{{@index}}">{{{name}}}</a>
				{{/prod}}
			</script>
		</div>

		<div class="prod-arrows withimage">
			<a class="prod-next" href="javascript:void(0);"></a>
			<a class="prod-prev" href="javascript:void(0);"></a>
		</div>

		<div class="prod-content">
			<script id="prodbio" type="text/x-handlebars-template">
				{{#prod}}
					<!-- {{name}} -->
					<div class="prod" id="{{safename}}" image="{{image}}">
						{{#image}}<div class="prod-image" style="background-image:url(images/prod/{{safename}}_l_bw.jpg);"></div>{{/image}}
						<div class="prod-copy">
							<div class="prod-name">{{{name}}}</div>
							<div class="prod-position">{{role}}</div>
							{{#desc}}
								<p>{{{.}}}</p>
							{{/desc}}
						</div>					
					</div>
				{{/prod}}
			</script>
		</div>
	</div>
</div>